/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.pageSection {
  border-top: 1px solid #e5e5e5;
}

[data-theme="dark"] .pageSection {
  border-top: 1px solid transparent;
}

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

[data-theme="dark"] .heroBanner {
  background-color: var(--ifm-color-primary);
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons > * {
  margin: 10px;
  width: auto;
}

@media screen and (max-width: 600px) {
  .buttons {
    flex-direction: column;
  }
}

.indexCtasGitHubButtonWrapper {
  display: flex;
}

.indexCtasGitHubButton {
  overflow: hidden;
}
